<div class="small-4 columns" ng-controller='MailListingController'>
  <!--$ is a special prop that can match on any property of the object  -->
<input type="number" placeholder="filter messages by years" ng-model='nYearsAgo'>
<!-- <input type="search" placeholder="filter by subject" ng-model='search.subject'> -->
  <ul id='emailListing'>
    <!--orderBy is a built in angular filter. it takes two arguments, the attribute to order by, and a boolean which tells the function if reverse order is true or not. when true, it will reverse the order by the most recent date to the oldest.  -->
    <!-- limitTo takes a single argument. we pass in the array and limit it to 4 emails. if we pass a number that is larger than our array, it will simply pass in every object in the array. if we pass in a negative number, we can get the last 4 emails rather than the first four. -->
    <li email-listing email='mail' action="setSelectedMail(selectedMail)"
    ng-repeat='mail in (email | orderBy:"sent_at":true | filter:searchPastNYears)'>
    </li>
  </ul>
</div>
<!--there are three ways to implement custom directives-->
<!-- <div nifty-directive="value"></div>
<div class="nifty-directive: expression;"></div>
<nifty-directive action="expression"></nifty-directive> -->
<!-- directive: nifty-directive expression  -->
<div class="small-8 columns" ng-controller="ContentController">
<div ng-show="!selectedMail">
  <h1>No conversation selected</h1>
</div>
<div ng-show="selectedMail">
  <form id='replyForm' ng-submit='sendEmailReply()' ng-show='showingReply'>
    <div class="row collapse">

      <div class="small-1 columns">
        <span class='prefix'>To</span>
      </div>
      <div class="small-11 columns">
        <input ng-model="reply.to" type="email" placeholder="">
      </div>
      <div class="small-12 columns">
        <textarea ng-model='reply.body'>{{reply.body}}</textarea>
      </div>
    </div>

      <button class='button radius' ng-click='sendReply()'>send</button>
      <button class='button radius alert' ng-click='toggleReplyForm()'>cancel</button>
    </form>
    <div class='row header'>
      <div class="small-6 columns">{{selectedMail.subject}}</div>
      <div class="small-6 columns">{{selectedMail.sent_at | date:'MM/dd/yy'}}</div>
    </div>
  <div class="row actions">
    <div class="small-8 columns">{{selectedMail.from.join(", ")}} to {{selectedMail.to}}</div>
    <a ng-click="toggleReplyForm()" class="button radius push-1">Reply</a>
  </div>
  <div class="small-12 columns" ng-bind-html-unsafe="selectedMail.body">
    {{selectedMail.body}}
  </div>
    </div>
</div>
